@model List<WebShop10.Extensions.CartItem>

@{
    ViewData["Title"] = "Index";
}

@if (Model.Count == 0)
{
    <div class="text-center">
        <h1 class="display-4">Your cart is empty!</h1>
        <hr />
        <a asp-controller="Home" asp-action="Products">Continue shopping</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Cart items</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-sm btn-danger" asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id">Remove</a>
                    </td>
                    <td>@item.Product.Title</td>
                    <td>@item.Product.Price.ToString("0.00") EUR</td>
                    <td>@item.Quantity</td>
                    <td>@item.GetTotal().ToString("0.00") EUR</td>

                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <b>Total price: @ViewBag.TotalPrice.ToString("0.00") EUR</b></td>
            </tr>
        </tbody>
    </table>

    <hr />
    <a class="btn btn-primary btn-lg float-left" asp-controller="Home" asp-action="Products">Continue shopping</a>

    <a class="btn btn-success btn-lg float-right" asp-controller="Home" asp-action="Order">Order products</a>
}
