@model IEnumerable<WebShop10.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<div class="row mb-5">
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var item in ViewBag.Categories)
                {
                    <a class="dropdown-item" asp-action="Products" asp-route-categoryId="@item.Value">@item.Text</a>
                }
            </div>
        </div>
    </div>
    <div class="col-2">
        <a asp-action="Products" class="btn btn-warning">Reset filters</a>
    </div>
</div>

<div class="row mt-3">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>

                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@item.Price EUR</td>
                                <td>
                                    <form method="POST" asp-controller="Cart" asp-action="AddToCart">
                                        <input type="hidden" name="quantity" value="1" />
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <input type="submit" class="btn btn-success btn-sm" value="Add to cart">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
